/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
}

body {
  padding: 0;
  margin: 0;

  background-color: #2d3436;
  font-family: 'Roboto Mono', monospace;
  color: #dfe6e9;
}

.contact-card {
  margin-top: 15vh;
  margin-left: 20vw;
  text-align: center;
}

.contact-card > p {
  margin: 0;
  padding: 0;
}

.about-card {
  margin-top: 15vh;
  margin-left: 1.5rem;
  margin-right: 20vw;
}

.about-card > p {
  margin: 0;
  padding: 0;
}

/* media queries */
@media(max-width: 780px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .contact-card {
    margin: 0;
    margin-top: 5rem;
  }

  .about-card {
    margin: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.profile-picture {
  width: 200px;
  height: 200px;
  border: 3px solid #dfe6e9;
  border-radius: 50%;
}

.name {
  font-size: 2.5em;
  font-weight: 500;
  color: #dfe6e9;
}

.subtitle {
  font-size: 0.9em;
  color: #b2bec3;
}

.bio {
  text-align: center;
  display: flex;
  justify-content: center;

  padding: 10px !important;
}

.bio > p {
  width: 80%;
}

.social-links > a {
  color: #b2bec3;
  padding: 10px;
  transition: color 0.3s;
}

.social-links > a:hover {
  color: #636e72;
}

.header {
  font-size: 1.8em;
  font-weight: 500;
  color: #dfe6e9;
}

.title {
  font-size: 1.2em;
  font-weight: 500;
  color: #dfe6e9;
  padding-bottom: 2px !important;
}

.small-text {
  color: #636e72;
  font-weight: 500;
  font-size: 0.75em;
}

.emphasis {
  font-weight: 500;
  color: #0984e3;
}

hr.line-through {
  border: 0.5px solid #636e72;
  margin-top: 4px;
  margin-bottom: 12px;
}

hr.see-through {
  border: 0px solid #2d3436;
  margin-top: 15px;
  margin-bottom: 15px;
}